@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body > #root > div {
  height: 100vh;
  font: 100%/1.5em "Varela Round", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --default: #ececec;
  --primary: #ffffff;
  --blue: #379cff;
  --yellow: #f3d250;
  --error: #8b0000;
  --inputs: #f2f2f2;
  --gray: #bbbbbb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.inputError {
  color: var(--error);
  font-size: 13px;
}

.iconButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  transition-duration: 0.3s;
  &:hover {
    cursor: pointer;
    color: var(--blue);
  }
}
