.chatNavigation {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;

  background: rgb(64, 186, 255);
  background: linear-gradient(
    52deg,
    rgba(64, 186, 255, 1) 40%,
    rgba(66, 193, 255, 1) 100%
  );
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 25px;
    transition-duration: 0.6s;
    text-decoration: unset;
    color: black;

    .nameContainer {
      display: flex;

      flex-direction: column;
      .name {
        text-transform: capitalize;
      }
      .settingsContainer {
        display: flex;
        align-items: center;
        font-size: 10px;
        .icon {
          margin: 5px;
          font-size: 15px;
        }
      }
    }

    .image {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      border-radius: 100%;
      background-image: url("../../styles/pictures/avatar.png");
      background-size: 110%;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--primary--rgb), 0.3);
    }
  }
  .divider {
    height: 2px;
    width: 100%;
    background-color: rgba(var(--primary--rgb), 0.3);
  }
  .tools {
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: flex-end;

    .inputContainer {
      position: relative;
      width: 100%;
      margin: 0 5px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      .input {
        width: 100%;
        font-size: 12px;
        padding: 6px 10px;
        background-color: var(--inputs);
        border: none;
        border-radius: 20px;
        border: black;
        margin: 20px 0;
        outline: none;

        &:focus {
          outline-color: var(--blue);
        }
      }
      .icon {
        position: absolute;
        top: 0;
        right: 7px;
        width: 10%;
        max-width: 48px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 6 1 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-x: visible;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  overflow-x: visible;

  .conversation {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    transition-duration: 0.6s;
    .chatHead {
      display: flex;
      align-items: center;
    }
    .deleteButton {
      display: flex;
      cursor: pointer;
      align-items: center;
      opacity: 0;
      padding: 15px;
      transition-duration: 0.8s;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(var(--primary--rgb), 0.3);
      .deleteButton {
        opacity: 1;
      }
    }

    .image {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      border-radius: 100%;
      background-image: url("../../styles/pictures/avatar.png");
      background-size: 110%;
    }
  }
}

.active {
  background-color: rgba(var(--primary--rgb), 0.2);
}

.deleteButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  transition-duration: 0.3s;
  margin-left: 15px;
  &:hover {
    cursor: pointer;
    color: var(--error);
  }
}
